#map {
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#right-panel > div:first-child {
    background: #FFFFFF;
    padding: 10px;
    height: 97vh;
    overflow-y: auto;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    height: auto;
    float: right;
    width: 390px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    top: 0px;
    right: 0px;
    font-family: 'Roboto', 'sans-serif';
}

#floating-panel {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
    display: none;
    cursor: move;
}

#content {
    width: 200px;
}

#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
}

#floating-panel div.content {
    text-align: left;
    font-size: 0.9em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

input#radius {
    width: 50px;
}

.travel-mode-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
}

.travel-mode-div label:first-of-type {
    margin: 0;
}

.travel-mode-div label {
    padding: 0 10px;
    width: 16.6666666667%;
    cursor: pointer;
    text-align: center;
}

.travel-mode-div p {
    margin: 0;
    color: #808081;
}

.travel-mode-div input {
    display: none;
}

.travel-mode-div label>input:checked+svg,
.travel-mode-div label>input:checked~p {
    fill: #00C0E5;
    color: #00C0E5;
}

svg {
    height: 32px;
    width: 32px;
    fill: #CCCCCC;
    padding-left: 6px;
}

.searchby {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#footer {
    background-color: #ffffff;
    color: #ecf0f1;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    /* Height of the footer */
    -webkit-transition: height 1s, visibility 1s;
    transition: height 1s, visibility 1s;
    display: none;
}

#footerbuttondown {
    top: -20px;
    visibility: hidden;
}

#footerbuttonup {
    top: -60px;
}

#footerbuttonup,
#footerbuttondown {
    background-color: #ffffff;
    color: #27ae60;    
    font-size: 20px;
    padding-top: 8px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#footercont {
    position: absolute;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    left: 25%;
    width: 50%;
    margin-top: 40px;
    transition: opacity 1s, visibility 2s, display 2s;
}


/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-right: 10px;
  padding-left: 23px;
  padding-top: 4px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .2em; left: .275em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}

.hide {
    display: none !important;
}

.is_show.bg_overlay_alt {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.bg_overlay_alt {
    background: rgba(255, 255, 255, 0.5);
}
.bg_overlay_alt{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(75, 75, 75, 0.8);
    z-index: 900;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.loader > p {
    color : #FFF;
}

.show-menu {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 5;
    cursor: pointer;
    background: #fff;
    padding: 5px 10px;
    font-size: 20px;
    color: #3498db;
}

.close-menu {
    font-size: 27px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
    color: #3498db;
}

#floating-panel strong {
    color: #3498db;
    font-size: 20px;
}